.home-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .left-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .right-container {
    padding: 20px;
  }